{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block css %}  
    <!-- <link rel="stylesheet" type="text/css" href="attraction.css"> -->
    <link rel= "stylesheet" type ="text/css" href = "{{ url_for('static', filename='css/attraction.css') }}" /> 
    {% endblock %}
</head>
<body>
    {% block content%}    
    <div class="nav-separator"></div>
    <section>
        <!-- picture part -->
        <div class="profile-pic-container">
            <!-- <div class="slide-container">
                <div class="slides fade">
                    <img src="welcome.png" alt="" class="profile-pic">
                </div>
                
                <div class="slides fade">
                    <img src="welcome.png" alt="" class="profile-pic">
                </div>
    
                <div class="slides fade">
                    <img src="welcome.png" alt="" class="profile-pic">
                </div>
            </div> -->            

            <!-- <div class="slide-btn-container" >
                <img src="btn-leftArrow.png" alt="" class="prev" onclick="plusSlide(-1)">
                <img src="btn-rightArrow.png" alt="" class="next" onclick="plusSlide(1)">
            </div>    -->
          
            <!-- <div class="circle-container">
                <span class="circle" onclick="currentSlide(1)"></span>
                <span class="circle" onclick="currentSlide(2)"></span>
                <span class="circle" onclick="currentSlide(3)"></span>
            </div>
             -->
        </div>
        
        <!-- profile part -->      
        <div class="profile-container">
            <div class="name"></div>
            <div class="position">
                <span class="cat"></span>
                <span> at </span>
                <span class="mrt"></span>
            </div>
            <form action="" class="booking-form" name="bookingForm">
                <div class="booking-form-header">訂購導覽行程</div>
                <div class="booking-form-desc">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                <div class="booking-date-container">
                    <label class="booking-date-label" for="booking-date-input">選擇日期：</label>
                    <input type="date" id="booking-date-input" name="date">
                </div>
                <div class="booking-time-container">
                    <span class="booking-time-label">選擇時間：</span>                    

                    <input type="radio" id="booking-time-input-up" name="time" value="2000" >
                    <label for="booking-time-input-up" class="booking-time-input-up-text">上半天</label>
                    
                    <input type="radio" id="booking-time-input-down" name="time" value="2500" >
                    <label for="booking-time-input-down" class="booking-time-input-down-text">下半天</label>
                </div>                               
                <div class="booking-form-price-container">
                    <div class="book-form-price-title">導覽費用：</div>
                    <div class="book-form-price-content">新台幣  
                        <span class="book-form-price-number"></span>
                        <span> 元</span>
                    </div>
                </div>
                <div class="booking-btn">開始預約行程</div>
                <div class="status-memo">test</div> 
            </form>        
        </div>               
    </section>
    
    <div class="main-separator"></div>

    <div class="information-container">
        <div class="description-content"></div>
        <div class="information-title">景點地址：</div>
        <div class="address-content"></div>
        <div class="information-title">交通方式：</div>
        <div class="transport-content"></div>
    </div>
    {% endblock %}
    {% block script%}
    <!-- <script src="attraction.js"></script> -->
    <script src="{{ url_for('static', filename='js/attraction.js') }}"></script>  
    {% endblock %}
</body>
</html>