<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taipei-day-trip</title>
    <!-- <link rel="stylesheet" type="text/css" href="attraction.css"> -->
    <link rel= "stylesheet" type ="text/css" href = "{{ url_for('static', filename='css/attraction.css') }}" />
</head>
<body>
    <nav>
        <div class="nav_container">
            <a href ="/" class="nav_left">
                <div class="nav_left_content">台北一日遊</div>
            </a>
            
            <div class="nav_right">
                <div class="nav_schedule" onclick="schedule()">預定行程</div>
                <div class="nav_signin show_sign_in">登入/註冊</div>
                <div class="nav_signout">登出系統</div>
            </div>
        </div>
    </nav>
    <div class="nav_separator"></div>
    <section>

        <!-- picture part -->
        <div class="profile_pic_container">
            <!-- <div class="slide_container">
                <div class="slides fade">
                    <img src="welcome.png" alt="" class="profile_pic">
                </div>
                
                <div class="slides fade">
                    <img src="welcome.png" alt="" class="profile_pic">
                </div>
    
                <div class="slides fade">
                    <img src="welcome.png" alt="" class="profile_pic">
                </div>
            </div> -->
            

            <!-- <div class="slide_btn_container" >
                <img src="btn_leftArrow.png" alt="" class="prev" onclick="plusSlide(-1)">
                <img src="btn_rightArrow.png" alt="" class="next" onclick="plusSlide(1)">
            </div>    -->
          
            <!-- <div class="circle_container">
                <span class="circle" onclick="currentSlide(1)"></span>
                <span class="circle" onclick="currentSlide(2)"></span>
                <span class="circle" onclick="currentSlide(3)"></span>
            </div>
             -->
        </div>
        
        <!-- profile part -->      
        <div class="profile_container">
            <div class="name"></div>
            <div class="position">
                <span class="cat"></span>
                <span> at </span>
                <span class="mrt"></span>
            </div>
            <form action="" class="booking_form" name="bookingForm">
                <div class="booking_form_header">訂購導覽行程</div>
                <div class="booking_form_desc">以此景點為中心的一日行程，帶您探索城市角落故事</div>

                <div class="booking_date_container">
                    <label class="booking_date_label" for="booking_date_input">選擇日期：</label>
                    <input type="date" id="booking_date_input">
                </div>



                <div class="booking_time_container">
                    <span class="booking_time_label">選擇時間：</span>                    

                    <input type="radio" id="booking_time_input_up" name="time" value="2000" checked>
                    <label for="booking_time_input_up" class="booking_time_input_up_text">上半天</label>
                    
                    <input type="radio" id="booking_time_input_down" name="time" value="2500" >
                    <label for="booking_time_input_down" class="booking_time_input_down_text">下半天</label>
                </div>
                               
                <div class="booking_form_price_container">
                    <div class="book_form_price_title">導覽費用：</div>
                    <div class="book_form_price_content">新台幣  
                        <span class="book_form_price_number">2000</span>
                        <span> 元</span>
                    </div>
                </div>

                <input class="booking_btn" type="submit" value="開始預約行程">                    
            </form>        
        </div>        

        

    </section>
    
    <div class="main_separator"></div>

    <div class="information_container">
        <div class="description_content"></div>
        <div class="information_title">景點地址：</div>
        <div class="address_content"></div>
        <div class="information_title">交通方式：</div>
        <div class="transport_content"></div>
    </div>
    
    <div class="sign_menu_backgroung trigger_close_menu"></div>
    <form action="/api/user/auth" class="signin_form" method="put">
        <div class="upper_decorator"></div>
        <div class="upper_decorator_modification"></div>
        <div class="signin_container">            
            <div class="sign_menu_title">登入會員帳號
                <img src="/static/images/icon_close.png" alt="" class="close_icon trigger_close_menu">
            </div>
            <input id="sign_in_email" class="sign_input" type="text" placeholder="輸入電子信箱" name="email">
            <input id="sign_in_password" class="sign_input" type="password" placeholder="輸入密碼" name="password">
            <div class="signin_btn" onclick="controller.sendSignIn()">登入帳戶</div>
            <div class="menu_status_info" id="signin_menu_status"></div>  
            <div class="menu_other_info show_sign_up">還沒有帳戶？點此註冊</div>
        </div>
    </form>

    <form action="" class="signup_form" method="post">
        <div class="upper_decorator"></div>
        <div class="upper_decorator_modification"></div>
        <div class="signup_container">            
            <div class="sign_menu_title">註冊會員帳號
                <img src="/static/images/icon_close.png" alt="" class="close_icon trigger_close_menu">
            </div>
            <input class="sign_input" id="sign_up_name" type="text" placeholder="輸入姓名" name="username">
            <input class="sign_input" id="sign_up_email" type="text" placeholder="輸入電子信箱" name="email">
            <input class="sign_input" id="sign_up_password" type="password" placeholder="輸入密碼" name="password">
            <!-- <button class="signin_btn" type="submit">註冊新帳戶</button> -->
            <div class="signin_btn" onclick="controller.sendSignUp()">註冊新帳戶</div>
            <div class="menu_status_info" id="signup_menu_status"></div>  
            <!-- add status_ok, status_error -->
            <div class="menu_other_info show_sign_in" >已經有帳戶了？點此登入</div>
        </div>
    </form>

    <footer>
        <div class="copyright_block">COPYRIGHT © 2022 台北一日遊
            <div class="copyright_text"></div>
        </div>
    </footer>
    <!-- <script src="attraction.js"></script> -->
    <script src="{{ url_for('static', filename='js/attraction_test.js') }}"></script>
</body>
</html>