<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taipei-day-trip</title>
    {% block css%}
    {% endblock %}
    
</head>
<body>
    <nav>
        <div class="nav-container">
            <a href ="/" class="nav-left">
                <div class="nav-left-content">台北一日遊</div>
            </a>            
            <div class="nav-right">
                <div class="nav-schedule" >預定行程</div>
                <div class="nav-signin show-sign-in">登入/註冊</div>
                <div class="nav-signout">登出系統</div>
            </div>
        </div>
    </nav>

    {% block content%}
    {% endblock %}
    
    

    <div class="sign-menu-backgroung trigger-close-menu"></div>
    <form action="/api/user/auth" class="signin-form" method="put">
        <div class="upper-decorator"></div>
        <div class="upper-decorator-modification"></div>
        <div class="signin-container">            
            <div class="sign-menu-title">登入會員帳號
                <img src="/static/images/icon_close.png" alt="" class="close-icon trigger-close-menu"> 
            </div>
            <input id="sign-in-email" class="sign-input" type="text" placeholder="輸入電子信箱" name="email">
            <input id="sign-in-password" class="sign-input" type="password" placeholder="輸入密碼" name="password">
            <div class="signin-btn" onclick="controller.sendSignIn()">登入帳戶</div>
            <div class="menu-status-info" id="signin-menu-status"></div>  
            <div class="menu-other-info show-sign-up">還沒有帳戶？點此註冊</div>
        </div>
    </form>

    <form action="" class="signup-form" method="post">
        <div class="upper-decorator"></div>
        <div class="upper-decorator-modification"></div>
        <div class="signup-container">            
            <div class="sign-menu-title">註冊會員帳號
                <img src="/static/images/icon_close.png" alt="" class="close-icon trigger-close-menu">  
            </div>
            <input class="sign-input" id="sign-up-name" type="text" placeholder="輸入姓名" name="name">
            <input class="sign-input" id="sign-up-email" type="text" placeholder="輸入電子信箱" name="email">
            <input class="sign-input" id="sign-up-password" type="password" placeholder="密碼至少8個英數，包含至少1個大寫" name="password">
            <!-- <button class="signin-btn" type="submit">註冊新帳戶</button> -->
            <div class="signin-btn" onclick="controller.sendSignUp()">註冊新帳戶</div>
            <div class="menu-status-info" id="signup-menu-status"></div>  
            <!-- add status-ok, status-error -->
            <div class="menu-other-info show-sign-in" >已經有帳戶了？點此登入</div>
        </div>
    </form>

    <footer>
        <div class="copyright-block">COPYRIGHT © 2022 台北一日遊</div>
    </footer>

    {% block script%}
    {% endblock %}
</body>
</html>
