{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block css %}  
    <!-- <link rel="stylesheet" type="text/css" href="attraction.css"> -->
    <link rel= "stylesheet" type ="text/css" href = "{{ url_for('static', filename='css/booking.css') }}" />
    {% endblock %}
</head>
<body>
    {% block content%} 
    <div class="nav-separator"></div>
    <div class="booking-container">
        <div class="booking-headline">
            <span>您好，</span>
            <span id="user"></span>
            <span>，待預訂的行程如下：</span>
        </div>
        <div class="booking-info-container">
            <!-- <div class="booking-info-sub-container">
                <img src="/static/images/welcome.png" alt="" class="booking-img">
                <div class="booking-item-container">
                    <a href="" class="booking-attraction-link">
                        <div class="booking-attraction-title">
                            <span >台北一日遊：</span>
                            <span class="attraction">平安鐘</span>
                        </div>
                    </a>
    
                    <div class="booking-date">日期：
                        <span class="booking-date-content">2021-04-23</span>
                    </div>
                    <div class="booking-time">時間：
                        <span class="booking-time-content">早上 9 點到下午 4 點</span>
                    </div>
                    <div class="booking-fee">費用：
                        <span >新台幣</span>
                        <span class="booking-fee-content"> 2000 </span>
                        <span>元</span>
                    </div>
                    <div class="booking-address">地點：
                        <span class="booking-address-content">臺北市 大安區忠孝東路4段</span>
                    </div>
                    <img src="/static/images/icon-delete.png" alt="" class="delete-icon">
                </div>
            </div>     -->

        </div>
            
        <div class="booking-separator"></div>

        <div class="user-info-container">
            <div class="booking-title">您的聯絡資訊</div>
            <div class="user-name">聯絡姓名：
                <input type="text" name="username">
            </div>
            <div class="user-email">連絡信箱：
                <input type="text" name="email">
            </div>
            <div class="user-phone">手機號碼：
                <input type="text" name="phone">
            </div>
            <div class="remind-memo">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
        </div>
        <div class="booking-separator"></div>

        <div class="card-container">
            <div class="booking-title">信用卡付款資訊</div>
            <div class="card-num">卡片號碼：
                <input type="password" name="card-number" placeholder="**** **** **** ****">
            </div>
            <div class="card-exp">過期時間：
                <input type="text" name="card-expiration" placeholder="MM / YY">
            </div>
            <div class="card-valid-pw">驗證密碼：
                <input type="text" name="card-validation" placeholder="CVV">
            </div>
        </div>
        <div class="booking-separator"></div>

        <div class="summary-container">
            <div class="total-money">
                <span>總價：新台幣 </span>
                <span id="money">2000</span>
                <span>元</span>
            </div>
            <div class="booking-btn">確認訂購並付款</div>
        </div>
        <img src="/static/images/no_schedule.png" alt="" class="no-schedule-img"> 
    </div>
    

    {% endblock %}

    {% block script%}
    <!-- <script src="attraction.js"></script> -->
    <script src="{{ url_for('static', filename='js/booking.js') }}"></script>
    {% endblock %}
</body>
</html>