{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block css %}  
    <!-- <link rel="stylesheet" type="text/css" href="attraction.css"> -->
    <link rel= "stylesheet" type ="text/css" href = "{{ url_for('static', filename='css/booking.css') }}" />
    {% endblock %}
</head>
<body>
    {% block content%} 
    <div class="nav_separator"></div>
    <div class="booking_container">
        <div class="booking_headline">
            <span>您好，</span>
            <span id="user"></span>
            <span>，待預訂的行程如下：</span>
        </div>
        <div class="booking_info_container">
            <!-- <div class="booking_info_sub_container">
                <img src="/static/images/welcome.png" alt="" class="booking_img">
                <div class="booking_item_container">
                    <a href="" class="booking_attraction_link">
                        <div class="booking_attraction_title">
                            <span >台北一日遊：</span>
                            <span class="attraction">平安鐘</span>
                        </div>
                    </a>
    
                    <div class="booking_date">日期：
                        <span class="booking_date_content">2021-04-23</span>
                    </div>
                    <div class="booking_time">時間：
                        <span class="booking_time_content">早上 9 點到下午 4 點</span>
                    </div>
                    <div class="booking_fee">費用：
                        <span >新台幣</span>
                        <span class="booking_fee_content"> 2000 </span>
                        <span>元</span>
                    </div>
                    <div class="booking_address">地點：
                        <span class="booking_address_content">臺北市 大安區忠孝東路4段</span>
                    </div>
                    <img src="/static/images/icon_delete.png" alt="" class="delete_icon">
                </div>
            </div>     -->

        </div>
            
        <div class="booking_separator"></div>

        <div class="user_info_container">
            <div class="booking_title">您的聯絡資訊</div>
            <div class="user_name">聯絡姓名：
                <input type="text" name="username">
            </div>
            <div class="user_email">連絡信箱：
                <input type="text" name="email">
            </div>
            <div class="user_phone">手機號碼：
                <input type="text" name="phone">
            </div>
            <div class="remind_memo">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
        </div>
        <div class="booking_separator"></div>

        <div class="card_container">
            <div class="booking_title">信用卡付款資訊</div>
            <div class="card_num">卡片號碼：
                <input type="password" name="card_number" placeholder="**** **** **** ****">
            </div>
            <div class="card_exp">過期時間：
                <input type="text" name="card_expiration" placeholder="MM / YY">
            </div>
            <div class="card_valid_pw">驗證密碼：
                <input type="text" name="card_validation" placeholder="CVV">
            </div>
        </div>
        <div class="booking_separator"></div>

        <div class="summary_container">
            <div class="total_money">
                <span>總價：新台幣 </span>
                <span id="money">2000</span>
                <span>元</span>
            </div>
            <div class="booking_btn">確認訂購並付款</div>
        </div>
        <img src="/static/images/no_schedule.png" alt="" class="no_schedule_img">
    </div>
    

    {% endblock %}

    {% block script%}
    <!-- <script src="attraction.js"></script> -->
    <script src="{{ url_for('static', filename='js/booking.js') }}"></script>
    {% endblock %}
</body>
</html>