{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block css %}    
    <link rel="preload" href="/static/images/welcome.png" as="image" />
    <link rel="preload" href="/static/images/icon_search.png" as="image" />
    <link rel="preload" href="/static/images/no_results.png" as="image" />    
    <link rel= "stylesheet" type ="text/css" href = "{{ url_for('static', filename='css/index.css') }}" /> 
    {% endblock %}
</head>
<body>

    {% block content%}    
    <div class="hero-desk">
        <img src="/static/images/welcome.png" alt="" class="welcome-img">        
    </div>

    <div class="slogan">
        <div class="slogan-container">
            <div class="slogan-box">
                <div class="slogan-info-upper">輕鬆享受台北一日悠閒</div>
                <div class="slogan-info-lower">探索每個角落，體驗城市的深度旅遊行程</div>
            </div>
            <div class="search-box">     
                <div class="search-bar-desk-container">
                    <div class="search-bar">
                        <input type="text" class="search-bar-text" placeholder="輸入景點名稱查詢">
                    </div>    
                    <div class="search-btn">
                        <img src="/static/images/icon_search.png" alt="" class="search-icon"> 
                    </div>    
                </div>    
            <div class="search-category">
                <!-- <div class="cat-item">test1</div>
                <div class="cat-item">test1</div>
                <div class="cat-item">test1</div>
                <div class="cat-item">test1</div>
                <div class="cat-item">test1</div>
                <div class="cat-item">test1</div>
                <div class="cat-item">test1</div>
                <div class="cat-item">test1</div>
                <div class="cat-item">test1</div> -->

            </div>      
   
            </div>
        </div>
    </div>

    <div class="attractions">
        <div class="attractions-container">
            <!-- <img src="/static/images/no-results.png" alt="" class="no-result-img">      -->
            <!-- <a href="" class="attraction-url">
                <div class="attraction-group">
                    <div class="attraction-img-box">
                        <img src="https://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11000848.jpg" alt="" class="attraction-img" >  ***
                    </div>
                    <div class="details-upper">                    
                        <div class="info-upper" >test</div>                    
                    </div>
                    <div class="details-lower">
                        <div class="info-lower">
                            <div class="mrt" >mrt</div>
                            <div class="cat" >cat</div>
                        </div>
                    </div>
                </div>                 
            </a>      -->      

        </div>
    </div>
    {% endblock %}
    {% block script%}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script> 
    {% endblock %}
</body>
</html>
