{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block css %}    
    <link rel="preload" href="/static/images/welcome.png" as="image" />
    <link rel="preload" href="/static/images/icon_search.png" as="image" />
    <link rel="preload" href="/static/images/no_results.png" as="image" />    
    <link rel= "stylesheet" type ="text/css" href = "{{ url_for('static', filename='css/index.css') }}" /> 
    {% endblock %}
</head>
<body>

    {% block content%}    
    <div class="hero-desk">
        <img src="/static/images/welcome.png" alt="" class="welcome-img">        
    </div>

    <div class="slogan">
        <div class="slogan-container">
            <div class="slogan-box">
                <div class="slogan-info-upper">輕鬆享受台北一日悠閒</div>
                <div class="slogan-info-lower">探索每個角落，體驗城市的深度旅遊行程</div>
            </div>
            <div class="search-box">     
                <div class="search-bar-desk-container">
                    <div class="search-bar">
                        <input type="text" class="search-bar-text" placeholder="輸入景點名稱查詢">
                    </div>    
                    <div class="search-btn">
                        <img src="/static/images/icon_search.png" alt="" class="search-icon"> 
                    </div>    
                </div>    
            <div class="search-category">

            </div>      
   
            </div>
        </div>
    </div>

    <div class="attractions">
        
    </div>
    <div class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="loading-number">0%</div>
    </div>
    {% endblock %}
    {% block script%}
    <script type="module" src="{{ url_for('static', filename='js/index_main.js') }}"></script> 
    {% endblock %}
</body>
</html>
