{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block css %}  
    <link rel= "stylesheet" type ="text/css" href = "{{ url_for('static', filename='css/member.css') }}" />
    {% endblock %}
</head>
<body>
    {% block content%} 
    <div class="nav-separator"></div>
    <div class="member-function-container">
        <div class="member-info-tab function-checked">會員資訊</div>
        <div class="order-list" >歷史訂單</div>
    </div>
    <div class="order-separator"></div>
    <div class="member-container">
        <div class="description-title">
            <span>您好，</span>
            <span class="user"></span>
            <span>，您的會員資訊如下： </span>
        </div>
        <div class="member-info-container">
            <div class="basic-info-container">
                <form id="upload-form" method="post" enctype="multipart/form-data">
                    <div class="headshot-container">
                        <img class="headshot" src="/static/images/user.png" alt="">
                        <div class="lds-spinner hidden">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div class="loading-number">loading</div>
                        </div>    
                    </div>
                    
                    <input type="file" name="image" id="actual-btn" hidden/>
                    <label for="actual-btn">更換大頭照</label>
                </form>
                <div class="unchangable-info">
                    <div class="user-id">
                        <span>使用者ID號碼：</span>
                        <span class="id">xxxxxxx</span>
                    </div>
                    <div class="user-email">
                        <span>使用者email：</span>
                        <span class="email">sxxxxx</span>
                    </div>
                </div>    
                <div class="headshot-error-msg">error</div>            
            </div>


            
            <div class="order-separator"></div>

            <div class="user-name-container">
                <div class="user-name">
                    <span>目前使用者名稱：</span>
                    <span class="name">sxxxxx</span>
                </div>
                <div class="change-name">
                    <span>更新使用者名稱：</span>
                    <input class="change-name-input" type="text" placeholder="請輸入新的使用者名稱">
                    <div class="change-name-btn">更新名稱</div>
                </div>  
                <div class="username-error-msg">error</div>              
            </div>
            <div class="order-separator"></div>

            <div class="user-password-container">
                <div class="change-password-container">
                    <div class="current-password-container">
                        <span>目前密碼：</span>
                        <input class="current-password" type="password"  placeholder="請輸入目前密碼">
                        <img class="changePW-eye-img hidden-password" src="/static/images/eye_slash.png" alt="">                
                    </div>
                    <div class="new-password-container">
                        <span>新的密碼：</span>
                        <input class="new-password" type="password" placeholder="請輸入新密碼">
                        <img class="changePW-eye-img hidden-password" src="/static/images/eye_slash.png" alt="">                
                    </div>
                    <div class="confirm-password-container">
                        <span>確認密碼：</span>
                        <input class="confirm-password" type="password"  placeholder="請再輸入一次新密碼">
                        <img class="changePW-eye-img hidden-password" src="/static/images/eye_slash.png" alt="">                
                    </div>
                    <div class="change-password-btn">更新密碼</div>
                </div>
                <div class="userpw-error-msg">error</div>
            </div>
            <div class="order-separator"></div>
        </div>
        



    </div>





    <div class="order-container hidden">
        <div class="description-title">
            <span>您好，</span>
            <span class="user"></span>
            <span>，您的歷史訂單資訊如下： </span>
        </div>
        
        <div class="order-info-container"> 
            <div class="order-number-container">
                <span>訂單編號：</span>
                <span class="order-number">xxxxxxx</span>
            </div>
            <div class="order-detail-container hidden">
                <div class="user-info-container">
                    <div class="user-phone">
                        <span>手機號碼：</span>
                        <span id="phone">xxxxx</span>
                    </div>
                    <div class="total-money">
                        <span>總價：新台幣 </span>
                        <span id="money">2000</span>
                        <span>元</span>
                    </div>
                </div>
                <div class="sub-order-info-container">
                    <img src="/static/images/welcome.png" alt="" class="order-img">
                    <div class="order-item-container">
                        <a href="" class="order-attraction-link">
                            <div class="order-attraction-title">
                                <span >台北一日遊：</span>
                                <span class="attraction">平安鐘</span>
                            </div>
                        </a>
                        <div class="order-date">日期：
                            <span class="order-date-content">2021-04-23</span>
                        </div>
                        <div class="order-time">時間：
                            <span class="order-time-content">早上 9 點到下午 4 點</span>
                        </div>
                        <div class="order-address">地點：
                            <span class="order-address-content">臺北市 大安區忠孝東路4段</span>
                        </div>
                    </div>
                </div>
                <div class="sub-order-info-container">
                    <img src="/static/images/welcome.png" alt="" class="order-img">
                    <div class="order-item-container">
                        <a href="" class="order-attraction-link">
                            <div class="order-attraction-title">
                                <span >台北一日遊：</span>
                                <span class="attraction">平安鐘</span>
                            </div>
                        </a>
                        <div class="order-date">日期：
                            <span class="order-date-content">2021-04-23</span>
                        </div>
                        <div class="order-time">時間：
                            <span class="order-time-content">早上 9 點到下午 4 點</span>
                        </div>
                        <div class="order-address">地點：
                            <span class="order-address-content">臺北市 大安區忠孝東路4段</span>
                        </div>
                    </div>
                </div>
                <div class="refund-container">
                    <div class="refund-btn">取消訂單</div>
                </div>
            </div>            
        </div>         
    </div>

    <div class="popup-background hidden"></div>
    <div class="popup-container hidden">
        <div class="upper-decorator"></div>
        <div class="upper-decorator-modification"></div>
        <div class="popup-content-container">
            <div class="popup-order-number-container">
                <img src="/static/images/icon_close.png" alt="" class="popup-close-icon"> 
                <span>取消訂單編號：</span>
                <span class="popup-order-number">xxxxxxx</span>
            </div>
            <textarea name="refund-reason" id="reason" cols="40" rows="5" maxlength="250" placeholder="請輸入理由，限200字"></textarea>
            <div class="refund-reason-btn">確認送出</div>
        </div>

        <div class="popup-message-container hidden">
            <div class="popup-message-order-number-container">
                <span>取消訂單編號：</span>
                <span class="popup-message-order-number">xxxxxxx</span>
            </div>
            <div class="popup-status"></div>            
            <div class="refund-message-btn">確認</div>
        </div>
    </div>

    

    



    {% endblock %}


    {% block script%}
    <script type="module" src="{{ url_for('static', filename='js/member_main.js') }}"></script>
    {% endblock %}
</body>
</html>