body {
  margin: 0px;
  position: relative;
  font-family: "Noto Sans TC";
  font-style: normal;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container {
  width: 1200px;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  text-decoration: none;
}

.nav-left-content {
  padding-left: 10px;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  color: #448899;
  cursor: pointer;
}

.nav-right {
  padding: 0px;
  width: 175px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-schedule {
  height: 14px;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  color: #666666;
  cursor: pointer;
}

.nav-signin {
  height: 14px;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  color: #666666;
}

.nav-signout {
  height: 14px;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  color: #666666;
  display: none;
}

footer {
  width: 100%;
  height: 104px;
  background: #757575;
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0px;
}

.copyright-block {
  height: 14px;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
}

.sign-menu-backgroung {
  background: #000000;
  opacity: 0.25;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: none;
}

.signin-form {
  position: fixed;
  width: 340px;
  top: 80px;
  left: 50%;
  margin-left: -170px;
  background: #FFFFFF;
  box-shadow: 0px 4px 60px #AAAAAA;
  border-radius: 6px;
  display: none;
}

.signup-form {
  position: fixed;
  width: 340px;
  top: 80px;
  left: 50%;
  margin-left: -170px;
  background: #FFFFFF;
  box-shadow: 0px 4px 60px #AAAAAA;
  border-radius: 6px;
  display: none;
}

.upper-decorator {
  height: 10px;
  background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
  border-radius: 6px;
}

.upper-decorator-modification {
  background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
  margin-top: -5px;
  height: 5px;
  margin-bottom: 15px;
}

.signin-container {
  width: 310px;
  margin-left: auto;
  margin-right: auto;
}

.signup-container {
  width: 310px;
  margin-left: auto;
  margin-right: auto;
}

.sign-menu-title {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #666666;
  text-align: center;
  height: 27px;
  margin: auto;
  margin-bottom: 15px;
}

.close-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.sign-input {
  width: 278px;
  height: 17px;
  padding: 15px;
  margin-bottom: 10px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  color: #757575;
}

.signin-btn {
  width: 310px;
  height: 47px;
  background: #448899;
  border-radius: 5px;
  font-weight: 400;
  font-size: 19px;
  line-height: 47px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.signup-btn {
  width: 310px;
  height: 47px;
  background: #448899;
  border-radius: 5px;
  font-weight: 400;
  font-size: 19px;
  line-height: 47px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.menu-status-info {
  text-align: center;
  display: none;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
}

.status-ok {
  display: block;
  color: forestgreen;
}

.status-error {
  display: block;
  color: red;
}

.menu-other-info {
  text-align: center;
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  color: #666666;
  cursor: pointer;
}

input[type=date]:focus {
  outline: none !important;
  border: 1px solid #448899;
  box-shadow: 0 0 2px #448899;
}

input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: white;
  border-radius: 50%;
  border: 0px;
}

input[type=radio]:checked {
  border: 3px solid white;
  background-color: #448899;
}

.nav-separator {
  height: 0px;
  border: 1px solid #E8E8E8;
  margin-bottom: 40px;
}

section {
  width: 1200px;
  margin: auto;
  display: none;
  justify-content: center;
  margin-bottom: 40px;
}

.profile-pic-container {
  height: 406px;
  width: 540px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 3px;
  margin-top: 3px;
  position: relative;
}

.profile-pic {
  height: 406px;
  width: 540px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.slide-btn-container {
  top: -55%;
  width: 96%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.slides {
  display: none;
}

.prev, .next {
  height: 36px;
  cursor: pointer;
  transition: 0.6s ease;
}

.prev:hover, .next:hover {
  opacity: 0.6;
}

.circle-container {
  width: 100%;
  margin-top: -60px;
  display: flex;
  justify-content: center;
  position: relative; /*need to add, otherwise it will affect by fade */
}

.circle {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 6px;
  background: #FFFFFF;
  border-radius: 50%;
}

.active, .circle:hover {
  background: #000000;
  border: 1px solid #FFFFFF;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.profile-container {
  flex: auto;
  margin-left: 15px;
  margin-right: 15px;
}

.name {
  height: 33px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #666666;
  margin-bottom: 15px;
}

.position {
  height: 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
  margin-bottom: 20px;
}

.booking-form {
  min-height: 303px;
  background: #E8E8E8;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
}

.booking-form-header {
  height: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
  margin-bottom: 15px;
}

.booking-form-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  margin-bottom: 15px;
}

.booking-date-container {
  margin-bottom: 15px;
}

.booking-date-label {
  width: 81px;
  height: 17px;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: #666666;
}

input[type=date] {
  border-width: 0px;
  height: 35px;
  width: 153px;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  padding: 0 10px;
}

.booking-time-label {
  width: 81px;
  height: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
}

.booking-time-input-up-text, .booking-time-input-down-text {
  width: 48px;
  height: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  color: #666666;
}

input[type=radio] {
  accent-color: #448899;
  width: 18px;
  height: 18px;
  margin-top: -5px;
  vertical-align: middle;
  border: none;
}

.booking-form-price-container {
  margin-top: 15px;
  height: 22px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.book-form-price-title {
  font-weight: 700;
  font-size: 16px;
  color: #666666;
}

.book-form-price-content {
  font-weight: 500;
  font-size: 16px;
  color: #666666;
}

.booking-btn {
  width: 154px;
  height: 36px;
  background: #448899;
  border-radius: 5px;
  text-align: center;
  font-weight: 400;
  font-size: 19px;
  line-height: 36px;
  color: #FFFFFF;
  padding: 0px;
  border-width: 0px;
  border-style: none;
  -o-border-image: none;
     border-image: none;
  cursor: pointer;
  margin-top: 25px;
}

.status-memo {
  margin-top: 15px;
  font-weight: 500;
  font-size: 16px;
  color: #666666;
  display: none;
}

.main-separator {
  display: none;
  margin: auto;
  width: 1200px;
  border: 1px solid #E8E8E8;
  margin-bottom: 50px;
}

.information-container {
  margin: auto;
  display: none;
  width: 1180px;
  min-height: 362px;
  margin-bottom: 50px;
}

.description-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #666666;
  margin-bottom: 20px;
}

.information-title {
  height: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #666666;
}

.address-content {
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  margin-bottom: 20px;
  line-height: 23px;
}

.information-title {
  height: 32px;
  font-weight: 700;
  font-size: 16px;
  color: #666666;
}

.transport-content {
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  line-height: 23px;
}

@media (max-width: 1200px) {
  section {
    width: 100%;
  }
  .main-separator {
    width: 97%;
  }
  .information-container {
    width: 90%;
    min-height: 712px;
  }
}
@media (max-width: 1050px) {
  .nav-separator {
    margin: 0px;
  }
  section {
    flex-wrap: wrap;
  }
  .profile-pic-container {
    width: 100%;
    height: 350px;
    margin: 0px;
    margin-bottom: 20px;
  }
  .profile-pic {
    height: 350px;
    width: 100%;
  }
}/*# sourceMappingURL=attraction.css.map */