@import "base";


input:focus {
    outline: none !important;
    border:1px solid #448899;
    box-shadow: 0 0 3px  #448899;
}

.nav-separator{
    height: 0px;
    border: 1px solid #E8E8E8;
    margin-bottom: 40px;
}
.no-result-img{
    display: block;
    margin: auto;
    width: 50%;
}
.member-function-container{
    color: #666666;
    font-weight: 700;
    font-size: 20px;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
}

.member-info-tab{
    text-align: center;
    padding: 10px;           
    border-bottom: 2px solid white;
    transition: border-bottom 0.5s ease-in-out;
    cursor: pointer;
}

.member-info-tab:hover{
    color: #448899;
    border-bottom: 2px solid #448899;
}

.order-list{
    padding: 10px;
    border-bottom: 2px solid white;
    transition: border-bottom 0.5s ease-in-out;
    cursor: pointer;

}

.order-list:hover{
    color: #448899;
    border-bottom: 2px solid #448899;
}


.function-checked{
    color: #448899;
    border-bottom: 2px solid #448899;    
}

.headshot-container{
    min-height: 200px;
}
.headshot{
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;    
    
}
.lds-spinner{
    position: absolute;
    top: 60px;
    left: 85px;
}


#upload-form{
    position: relative;
    margin-bottom: 30px;
}

label {
    // actual-btn
    background: #448899;
    border-radius: 5px;
    width: 140px;
    height: 36px;
    font-weight: 400;
    font-size: 19px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    right: 0px;
    bottom: -135px;
    cursor: pointer;
    
}
  
#file-chosen{
    color: #666666;
    position: absolute;
    right: 20px;
    bottom: 40px;
}

.order-container{
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;   
    min-height: calc(100% - 331px);
}


.member-container{
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;  
    
}
.description-title{
    margin-bottom: 30px;
}

.order-number-container{
    height: 36px;
    line-height: 36px;
    font-weight: 700;
    font-size: 16px;
    background-color: #AADDEE;
    border-radius: 5px;
    color: #666666;
    margin-bottom: 15px;
    text-align: center;
    cursor: pointer;
}



.refund-btn{
    background: #448899;
    border-radius: 5px;
    width: 140px;
    height: 36px;
    font-weight: 400;
    font-size: 19px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
}
.user-info-container{
    font-weight: 700;
    font-size: 16px;
    color: #666666;
    margin-bottom: 25px;    
}


.unchangable-info{
    font-weight: 500;    
    line-height: 16px;
    color: #666666;
    font-size: 16px;
    margin-bottom: 65px;
}
.user-id{
    margin-bottom: 25px;
}

.user-email{
    margin-bottom: 25px;
}

.sub-order-info-container{
    display: flex; 
    margin-bottom: 40px;   
    flex-wrap: wrap;
}

.popup-background{
    background: #000000;
    opacity: 0.25;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.popup-container{    
    position: fixed;
    width: 340px;
    top: 80px;
    left: 50%;
    margin-left: -170px;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    
    transition: 2s;
}
.popup-order-number-container{
    margin-left: 9px;
    margin-bottom: 15px;
    color: #666666;
    position: relative;    
}

.popup-message-order-number-container{
    margin-left: 9px;
    margin-bottom: 15px;
    color: #666666;
    position: relative;    
    text-align: center;
}



textarea{
    padding: 5px;
    margin-left: 9px;
    margin-bottom: 15px;
    color: #666666;
    
}

.popup-close-icon {
    position: absolute;
    height: 16px;
    width: 16px;
    right: 9px;
    cursor: pointer;   
}
.popup-status{
    text-align: center;
    margin-bottom: 15px;
}
.ok{
    color: green;
}
.false{
    color: red;
}

textarea:focus{
    outline: none !important;
    border:1px solid #448899;
    box-shadow: 0 0 10px #719ECE;
}


.refund-reason-btn{
    background: #448899;
    border-radius: 5px;
    width: 140px;
    height: 36px;
    font-weight: 400;
    font-size: 19px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    margin: auto;
    margin-bottom: 15px;
}

.refund-message-btn{
    background: #448899;
    border-radius: 5px;
    width: 140px;
    height: 36px;
    font-weight: 400;
    font-size: 19px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    margin: auto;
    margin-bottom: 15px;
}


.refund-container{
    position: relative;
    height: 36px;
    margin: 15px;
}

.user-phone{
    margin-bottom: 10px;
}

.total-money{
    margin-bottom: 10px;
}
.no-schedule-img{
    display: none;
    margin: auto;
    width: 50%;
}
.order-headline{
    max-width: 1000px;
    font-weight: 700;
    line-height: 19px;
    color: #666666;
    margin: auto;
    margin-bottom: 30px;      
    font-size: 0px;
}

.order-headline >span{
    font-size: 19px;
}

.order-info-sub-container{
    display: flex;
    max-width: 980px;    
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.order-img{
    width: 250px;
    height: 200px;
    object-fit: cover;
    margin-right: 30px;
}

.order-item-container{
    max-width: 700px;    
    position: relative;
    flex: auto;
}

.order-attraction-link{
    text-decoration: none;
}

.order-attraction-title {   
    font-weight: 700;
    line-height: 16px;
    color: #448899;
    font-size:0px;
    margin-bottom: 20px;
}

.order-attraction-title > span{
    font-size:16px;
}

.order-date{   
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
    margin-bottom: 20px;
}


.order-date-content{
    font-weight: 500;
}

.order-time{
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
    margin-bottom: 20px;
}
.order-time-content{
    font-weight: 500;
}

.order-fee{
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
    margin-bottom: 20px;
}
.order-fee>span{
    font-weight: 500;
}

.order-address{
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
    margin-bottom: 20px;
}
.order-address-content{
    font-weight: 500;
}

.delete-icon{
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.order-separator{
    height: 0px;
    border: 1px solid #E8E8E8;
    margin-bottom: 40px;
}



.order-title{
    max-width: 1000px;
    font-weight: 700;
    font-size: 19px;
    line-height: 19px;
    color: #666666;
    margin: auto;
    margin-bottom: 20px;   
}

.user-name{
    font-weight: 500;    
    line-height: 16px;
    color: #666666;
    font-size: 16px;
    margin-bottom: 15px;
}


.change-name{
    font-weight: 500;    
    line-height: 16px;
    color: #666666;
    font-size: 16px;
    margin-bottom: 65px;
    position: relative;
}

.change-name >input{
    width:180px;
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}

.change-name-btn{
    background: #448899;
    border-radius: 5px;
    width: 140px;
    height: 36px;
    font-weight: 400;
    font-size: 19px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    right: 0px;
    bottom: -50px;
    cursor: pointer;
}


.change-password-container{
    position: relative;
}

.current-password-container{
    font-weight: 500;    
    line-height: 16px;
    color: #666666;
    font-size: 16px;
    margin-bottom: 15px;
    position: relative;
}
.current-password-container >input{
    width:180px;
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}
.new-password-container{
    font-weight: 500;    
    line-height: 16px;
    color: #666666;
    font-size: 16px;
    margin-bottom: 15px;
    position: relative;
}


.confirm-password-container{
    font-weight: 500;    
    line-height: 16px;
    color: #666666;
    font-size: 16px;
    margin-bottom: 65px;
    position: relative;
}
.new-password-container >input, .confirm-password-container >input{
    width:180px;
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}

.changePW-eye-img{
    width: 15px;
    height: 15px;
    position: absolute;
    left: 260px;
    top: 10px;
}
.change-password-btn{
    background: #448899;
    border-radius: 5px;
    width: 140px;
    height: 36px;
    font-weight: 400;
    font-size: 19px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    right: 0px;
    bottom: -50px;
    cursor: pointer;
}

.user-email{
    font-weight: 500;    
    line-height: 16px;
    color: #666666;
    font-size: 16px;
    margin-bottom: 15px;
}

.user-email > input{
    width:180px;
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}


.remind-memo{
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
    margin-bottom: 45px;
}

.card-container{
    max-width: 980px;
    margin: auto;
}

.card-num{
    display: flex;
    font-weight: 500;    
    line-height: 37px;
    color: #666666;
    font-size: 16px;
    margin-bottom: 15px;
    position: relative;
}


.card-exp{
    display: flex;
    font-weight: 500;    
    line-height: 37px;
    color: #666666;
    font-size: 16px;
    margin-bottom: 15px;
}

.card-valid-pw{
    display: flex;
    font-weight: 500;    
    line-height: 37px;
    color: #666666;
    font-size: 16px;
    margin-bottom: 40px;
}
.tpfield {                  
    height: 15px;                    
    width:180px;
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    
}


.summary-container{
    max-width: 980px;
    height: 100px;
    margin: auto;
    margin-bottom: 40px;
    position: relative;
}



.headshot-error-msg, .username-error-msg, .userpw-error-msg{
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    // position: absolute;
    color:red;
    margin-bottom: 25px;
    display: none;
}


.show-error{
    display: block!important; 
}

.show-ok{
    display: block!important; 
    color:green;
}



@media (max-width:600px){
    .order-info-sub-container{
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .order-img{
        margin-bottom: 40px;
        height: 200px;
        width: 100%;
        margin-right: 0px;
    }
    .delete-icon{
        bottom: 0px;
        top: auto;
    }
}