input:focus {
  outline: none !important;
  border: 1px solid #448899;
  box-shadow: 0 0 10px #719ECE;
}

.signup-eye-img {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.signin-eye-img {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

body {
  margin: 0px;
  position: relative;
  font-family: "Noto Sans TC";
  font-style: normal;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container {
  width: 1200px;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  text-decoration: none;
}

.nav-left-content {
  padding-left: 10px;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  color: #448899;
  cursor: pointer;
}

.nav-right {
  padding: 0px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-member {
  height: 14px;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  color: #666666;
  cursor: pointer;
}

.nav-schedule {
  height: 14px;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  color: #666666;
  cursor: pointer;
}

.nav-signin {
  height: 14px;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  color: #666666;
}

.nav-signout {
  height: 14px;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  color: #666666;
  display: none;
}

footer {
  width: 100%;
  height: 104px;
  background: #757575;
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0px;
}

.copyright-block {
  height: 14px;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
}

.sign-menu-backgroung {
  background: #000000;
  opacity: 0.25;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: none;
}

.signin-form {
  position: fixed;
  width: 340px;
  top: 80px;
  left: 50%;
  margin-left: -170px;
  background: #FFFFFF;
  box-shadow: 0px 4px 60px #AAAAAA;
  border-radius: 6px;
  display: none;
  transition: 2s;
}

.signup-form {
  position: fixed;
  width: 340px;
  top: 80px;
  left: 50%;
  margin-left: -170px;
  background: #FFFFFF;
  box-shadow: 0px 4px 60px #AAAAAA;
  border-radius: 6px;
  display: none;
}

.upper-decorator {
  height: 10px;
  background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
  border-radius: 6px;
}

.upper-decorator-modification {
  background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
  margin-top: -5px;
  height: 5px;
  margin-bottom: 15px;
}

.signin-container {
  width: 310px;
  margin-left: auto;
  margin-right: auto;
}

.password-container {
  position: relative;
}

.signup-container {
  width: 310px;
  margin-left: auto;
  margin-right: auto;
}

.sign-menu-title {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #666666;
  text-align: center;
  height: 27px;
  margin: auto;
  margin-bottom: 15px;
}

.close-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.sign-input {
  width: 278px;
  height: 17px;
  padding: 15px;
  margin-bottom: 10px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  color: #757575;
}

.signin-btn {
  width: 310px;
  height: 47px;
  background: #448899;
  border-radius: 5px;
  font-weight: 400;
  font-size: 19px;
  line-height: 47px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.signup-btn {
  width: 310px;
  height: 47px;
  background: #448899;
  border-radius: 5px;
  font-weight: 400;
  font-size: 19px;
  line-height: 47px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.menu-status-info {
  text-align: center;
  display: none;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
}

.status-ok {
  display: block !important;
  color: forestgreen !important;
}

.status-error {
  display: block !important;
  color: red !important;
}

.menu-other-info {
  text-align: center;
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  color: #666666;
  cursor: pointer;
}

input:focus {
  outline: none !important;
  border: 1px solid #448899;
  box-shadow: 0 0 3px #448899;
}

.nav-separator {
  height: 0px;
  border: 1px solid #E8E8E8;
  margin-bottom: 40px;
}

.member-function-container {
  color: #448899;
  font-weight: 700;
  font-size: 20px;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}

.member-info-remaining {
  flex: auto;
  border-bottom: 2px solid #E8E8E8;
}

.member-info {
  padding: 10px;
  padding-left: 0px;
  border-bottom: 2px solid #E8E8E8;
  transition: border-bottom 0.5s ease-in-out;
  cursor: pointer;
}

.member-info:hover {
  border-bottom: 2px solid #448899;
}

.order-list {
  padding: 10px;
  border-bottom: 2px solid #E8E8E8;
  transition: border-bottom 0.5s ease-in-out;
  cursor: pointer;
}

.order-list:hover {
  border-bottom: 2px solid #448899;
}

.function-checked {
  border-bottom: 2px solid #448899;
}

.order-container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: none;
}

.member-container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.description-title {
  margin-bottom: 30px;
}

.order-number-container {
  height: 36px;
  line-height: 36px;
  font-weight: 700;
  font-size: 16px;
  color: #666666;
}

.refund-btn {
  background: #448899;
  border-radius: 5px;
  width: 140px;
  height: 36px;
  font-weight: 400;
  font-size: 19px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
}

.user-info-container {
  font-weight: 700;
  font-size: 16px;
  color: #666666;
  margin-bottom: 25px;
}

.unchangable-info {
  font-weight: 500;
  line-height: 16px;
  color: #666666;
  font-size: 16px;
  margin-bottom: 15px;
}

.user-id {
  margin-bottom: 25px;
}

.user-email {
  margin-bottom: 25px;
}

.sub-order-info-container {
  display: flex;
  margin-bottom: 40px;
}

.order-headline-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.user-phone {
  margin-bottom: 10px;
}

.total-money {
  margin-bottom: 10px;
}

.no-schedule-img {
  display: none;
  margin: auto;
  width: 50%;
}

.order-headline {
  max-width: 1000px;
  font-weight: 700;
  line-height: 19px;
  color: #666666;
  margin: auto;
  margin-bottom: 30px;
  font-size: 0px;
}

.order-headline > span {
  font-size: 19px;
}

.order-info-sub-container {
  display: flex;
  max-width: 980px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.order-img {
  width: 250px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 30px;
}

.order-item-container {
  max-width: 700px;
  position: relative;
  flex: auto;
}

.order-attraction-link {
  text-decoration: none;
}

.order-attraction-title {
  font-weight: 700;
  line-height: 16px;
  color: #448899;
  font-size: 0px;
  margin-bottom: 20px;
}

.order-attraction-title > span {
  font-size: 16px;
}

.order-date {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
  margin-bottom: 20px;
}

.order-date-content {
  font-weight: 500;
}

.order-time {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
  margin-bottom: 20px;
}

.order-time-content {
  font-weight: 500;
}

.order-fee {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
  margin-bottom: 20px;
}

.order-fee > span {
  font-weight: 500;
}

.order-address {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
  margin-bottom: 20px;
}

.order-address-content {
  font-weight: 500;
}

.delete-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.order-separator {
  height: 0px;
  border: 1px solid #E8E8E8;
  margin-bottom: 40px;
}

.order-title {
  max-width: 1000px;
  font-weight: 700;
  font-size: 19px;
  line-height: 19px;
  color: #666666;
  margin: auto;
  margin-bottom: 20px;
}

.user-name {
  font-weight: 500;
  line-height: 16px;
  color: #666666;
  font-size: 16px;
  margin-bottom: 15px;
}

.change-name {
  font-weight: 500;
  line-height: 16px;
  color: #666666;
  font-size: 16px;
  margin-bottom: 15px;
  position: relative;
}

.change-name > input {
  width: 180px;
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
}

.change-name-btn {
  background: #448899;
  border-radius: 5px;
  width: 140px;
  height: 36px;
  font-weight: 400;
  font-size: 19px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
}

.change-password-container {
  position: relative;
}

.current-password-container {
  font-weight: 500;
  line-height: 16px;
  color: #666666;
  font-size: 16px;
  margin-bottom: 15px;
  position: relative;
}

.current-password-container > input {
  width: 180px;
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
}

.new-password-container {
  font-weight: 500;
  line-height: 16px;
  color: #666666;
  font-size: 16px;
  margin-bottom: 15px;
  position: relative;
}

.new-password-container > input {
  width: 180px;
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
}

.change-password-btn {
  background: #448899;
  border-radius: 5px;
  width: 140px;
  height: 36px;
  font-weight: 400;
  font-size: 19px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
}

.user-email {
  font-weight: 500;
  line-height: 16px;
  color: #666666;
  font-size: 16px;
  margin-bottom: 15px;
}

.user-email > input {
  width: 180px;
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
}

.remind-memo {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
  margin-bottom: 45px;
}

.card-container {
  max-width: 980px;
  margin: auto;
}

.card-num {
  display: flex;
  font-weight: 500;
  line-height: 37px;
  color: #666666;
  font-size: 16px;
  margin-bottom: 15px;
  position: relative;
}

.card-exp {
  display: flex;
  font-weight: 500;
  line-height: 37px;
  color: #666666;
  font-size: 16px;
  margin-bottom: 15px;
}

.card-valid-pw {
  display: flex;
  font-weight: 500;
  line-height: 37px;
  color: #666666;
  font-size: 16px;
  margin-bottom: 40px;
}

.tpfield {
  height: 15px;
  width: 180px;
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
}

.summary-container {
  max-width: 980px;
  height: 100px;
  margin: auto;
  margin-bottom: 40px;
  position: relative;
}

.error-msg {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  color: red;
  margin-bottom: 25px;
  display: none;
}

.show-error {
  display: block !important;
}

@media (max-width: 600px) {
  .order-info-sub-container {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .order-img {
    margin-bottom: 40px;
    height: 200px;
    width: 100%;
    margin-right: 0px;
  }
  .delete-icon {
    bottom: 0px;
    top: auto;
  }
}/*# sourceMappingURL=member.css.map */