/* @import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap); */
body{
    margin: 0px;
    position: relative;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-container{
    width: 1200px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    text-decoration:none;
}
.nav-left-content{
    padding-left: 10px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #448899;
    cursor: pointer;
}
.nav-right{
    padding: 0px;
    width: 175px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


    

.nav-schedule{
    height: 14px;
    padding: 10px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    color: #666666;
    cursor: pointer;
    
}
.nav-signin{
    height: 14px;
    padding: 10px;
    cursor: pointer;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    color: #666666;

}

.nav-signout{
    height: 14px;
    padding: 10px;
    cursor: pointer;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    color: #666666;
    display: none;
}

.slogan{
    position: relative;
    padding: 10px;
    gap: 10px;
    width: 1200px;
    height: 169px;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 111px;
}
.slogan-container{
    width: 100%;
    /* width: 1180px; */
    height: 149px;
    /* Inside auto layout */
}


.slogan-box{
    width: 100%;
    /* width: 1180px; */
    height: 78px;
}

.slogan-info-upper{
    width: 100%;
    /* width: 1180px; */
    height: 41px;
    /* Header 1 - Bold 28(24) */

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
    /* or 86% */
    /* Secondary Color/Gray 10 */
    color: #F8F8F8;

    /* Text Shadow */

    text-shadow: 0px 0px 30px #AABBCC;
}

.slogan-info-lower{
    width: 100%;
    /* width: 1180px; */
    height: 22px;

    /* Body - Bold 16(13.3) */

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    /* or 83% */
    /* Secondary Color/Gray 10 */

    color: #F8F8F8;
}
.search-box{
    width: 100%;
    /* width: 1180px; */
    height: 46px;    
}
.search-bar-desk-container{
    width: 460px;
    height: 46px;
    display: flex;   
}

.search-category{
    margin-top: 5px;
    width: 400px;
    overflow: auto;
    filter: drop-shadow(0px 0px 20px #AABBCC);
    /* White */
    background: #FFFFFF; 
    border-width: 0px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;    
    /* gap: 10px;     */
    justify-content: flex-start;
    border-radius: 5px;
    flex-wrap: wrap;
    display: none;
    position: relative;
    z-index: 10000;
}

.cat-item-change-color{
    background-color: #C4C4C4;
}

.cat-item{
    width: 100px;
    height: 20px;
    padding: 10px;    
    cursor: pointer;
    border-radius: 5px;
    line-height: 20px;
    

}

.search-bar{
    
    flex: auto;
    height: 46px;
    padding: 0px;
    /* Box Shadow */
    filter: drop-shadow(0px 0px 20px #AABBCC);
    /* White */
    background: #FFFFFF; 
    border-width: 0px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    display: flex;
    border-radius: 5px;
    
    
}
.search-bar-text{
    border-radius: 5px;
    flex: auto;    
    padding: 15px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;   
    border-width: 0px;
}


.search-btn{
    border-radius: 5px;
    width: 60px;
    height: 46px;
    /* Primary Color/Cyan 70 */
    background: #448899;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-icon{  
    width: 30px;
    height: 30px;
    background: url(icon_search.png); 
}
.hero-desk{
    position: absolute;
    padding: 0px;
    height: 320px;
    width: 100%;
    background: linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
}

.welcome-img{
    overflow:hidden;
    width: 100%;
    height: 480px;
    max-height: 320px;
    object-fit:cover;    
    /* Inside auto layout */
    background-repeat:no-repeat;

}

.attractions{
    margin: auto;
    margin-top: 55px;
    margin-bottom: 55px;
    width: 1200px;
    
    display: flex;
    justify-content: center;
}
.no-result-img{
    margin: auto;
    width: 50%;
}
.attractions-container{
    flex-wrap: wrap;
    width: 1170px;
    display: flex;    
    justify-content: center;
    gap: 30px 30px;    
}
.attraction-url{
    width: 270px;
    height: 242px;
    margin: 0px;
    text-decoration:none;
}
.attraction-group{
    position: relative;
    box-sizing: border-box;

    /* White */
    background: #FFFFFF;
    /* Secondary Color/Gray 20 */
    border: 1px solid #E8E8E8;
    border-radius: 5px;

}

.details-upper{    
    border-radius: 5px;
    position: absolute;
    bottom: 45px;
    /* width: 270px; */
    width: 100%;
    height: 40px;
    background: #000000;
    opacity: 0.6;
    display: flex;
    align-items: center;
    
}
.info-upper{
    position: absolute;
    /* width: 250px; */
    
    height: 20px;
    padding: 10px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
        background-color: #000000;
    color: #FFFFFF;
}


.details-lower{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 270px; */
    width: 100%;
    height: 45px;
    text-decoration:none;
    /* Additional Color/White */
    
    /* background: #FFFFFF; */
}
.info-lower{
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    /* width: 250px; */
    width: 100%;
    height: 25px;
}
.mrt{
    flex: 50%;
    /* width: 125px; */
    height: 25px;
    /* Body - Med 16(13.3) */
    padding: 10px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #757575;
    
    
}
.cat{
    flex: 50%;
    /* width: 125px; */
    height: 25px;
    padding: 10px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: end;

    color: #757575;
}

.attraction-img-box{
    width: 100%;
    /* width: 270px; */
    height: 197px;
}

.attraction-img-box:hover .attraction-img{
    opacity: .5;
}

.attraction-img{
    position: absolute;
    width: 100%;
    /* width: 270px; */
    height: 197px;
    object-fit: cover;
    border-radius: 5px;

}

.attraction-img-box img:hover{
    background: #C4C4C4;
}

footer{
    width: 100%;
    height: 104px;
    background: #757575;
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0px;


}
.copyright-block{
    
    height: 14px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    
    /* white-space: nowrap; */
    color: #FFFFFF;
    text-align: center;
}

.sign-menu-backgroung{
    background: #000000;
    opacity: 0.25;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: none;
}

.signin-form{
    position: fixed;
    /* height: 275px; */
    width: 340px;
    top: 80px;
    left: 50%;
    margin-left: -170px;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    display: none;
}

.signup-form{
    position: fixed;
    /* height: 332px; */
    width: 340px;
    top: 80px;
    left: 50%;
    margin-left: -170px;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    display: none;
    
}

.upper-decorator{
    height: 10px;    
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border-radius: 6px;
}
.upper-decorator-modification{
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    margin-top: -5px;
    height: 5px;
    margin-bottom: 15px;
}

.signin-container{
    width: 310px;
    /* height: 235px; */
    margin-left: auto;
    margin-right: auto;
}

.signup-container{
    width: 310px;
    /* height: 292px; */
    margin-left: auto;
    margin-right: auto;
}

.sign-menu-title{
    position: relative;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #666666;
    text-align: center;
    height: 27px;

    margin: auto;
    margin-bottom: 15px;
}
.close-icon{
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.sign-input{
    
    width: 278px;
    height: 17px;
    padding: 15px;    
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: #757575;
}

.signin-btn{
    width: 310px;
    height: 47px;
    background: #448899;
    border-radius: 5px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 47px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.signup-btn{
    width: 310px;
    height: 47px;
    background: #448899;
    border-radius: 5px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 47px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.menu-status-info{
    text-align: center;
    display: none;
    margin-bottom: 15px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}
.status-ok{
    display: block;
    color: forestgreen;
}

.status-error{
    display: block;
    color: red;
}


.menu-other-info{
    text-align: center;
    display: block;
    margin-bottom: 15px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #666666;
    cursor: pointer;
}

@media (max-width:1200px){
    .attractions{
        width: 90%;
    }

    .attractions-container{
        width: 90%;
    }
    .attraction-url{
        width: 45%;
    }
    .attractions-container{
        width: 100%;
    }
    .slogan{
        width: 95%;
    }

/* .slogan-container{
    width: 100%;
} */

}

@media(max-width:600px){


    .attraction-url{
        width: 90%;
    }

    .search-bar-desk-container{
        width: 90%;
    }
    .search-category{
        width: 90%;
        
    }
}